* { box-sizing: border-box; }
@viewport {zoom: 1.0; width: extend-to-zoom;}
@-ms-viewport {zoom: 1.0; width: extend-to-zoom;}
body {
	margin: 0em;
}
canvas {
	background-color: #ddd;
	display: block;
	width: 100%;
	height: 100vh;
}